name: ci

on:
  push:
  pull_request:

jobs:
  go-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [queue-service, auth-service, notification-service, admin-service, analytics-service]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'
      - name: Test
        run: |
          cd services/${{ matrix.service }}
          go test ./...
